/* public/style.css */

html, body, section, .full-height {
    height: 100%;
} 

ul#tags li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul#inline-ul li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul#tags li input {
    width: 100%;
}

#htmlViewer {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;

    border: none;
    overflow: auto;
    outline: none;
    resize: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#markdown {
    overflow: auto;
    border-left: 1px solid black;
}

#markdown img {
    display: block;
}

#addIconPassive img {
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 50;
}

#addIconActive img {
    cursor: pointer;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.container-fluid {
    height: 80%
}