<div id="page-wrap" >
    <!--<div id="main-content"> -->
    <img src="images/adubas_photo.png" name="adubas_photo" alt="Photo" id="pic" width="350" height="300"/>

    <div id="contact-info" class="vcard">
        <h1 class="western"> Andrii Dubas </h1>

        <p>
        Email: <a href="mailto:andreydubas1991@gmail.com"> andreydubas1991.gmail.com </a> <br/>
        Location: Lodz, Poland </br>
        Birth date: 7 February 1991</br>
        Languages: Russian, Polish, English </br>
        CV online: <a href="https://andrey-dubas.github.io/myCV/index.html"> andrey-dubas.github.io/adubas/ (to be updated) </a>
        </p>
    </div>


    <div id="self_description">
        <p>
            
                Hi! My name is Andrii, I am a software developer who
            specializes in C++ programming language. I have considerable
            experience in working with people of different cultural
            background at work. I like being a part of something that
            drastically changes everyone's life and I would appreciate you
            bring me this opportunity.
            <br>
                Contact me and I will elaborate on myself.
        </p>
    </div>





        <div class="clear" style="height: 30px" ></div>


    <dl>
        <dt>Skills </dt>

            <dd>

            <h2 class="western"> Frameworks/Tools </h2>
            <p>

        <ul>
            <li> C++, Python, javascript </li>
            <li> express framework </li>
            <li> IPC: apache thrift </li>
            <li> experience in Linux userspace development </li>
            <li> Multithreading </li>
            <li> c++11 standard </li>
            <li> make, cmake  </li>
            <li> networking </li>
            <li> ATAPI protocol </li>
        </ul>

        </dd>




            <dd class="clear"></dd>

        <dt> Experience </dt>

        <dd>
            <h2 class="western" style="margin-left: 0.81in; margin-right: 0.42in; margin-top: 0.42in; margin-bottom: 0.63in">
                Fujitsu technology solutions
                <span id="Frame1" dir="ltr" style="position: absolute; left: 3.13in; width: 3.74in; height: 0.28in; border: none; padding: 0in; background: url('data:') repeat scroll ">
                    <p>
            Sr. software developer June 2016 - present
            </p>
                </span>
            </h2>

            <ul>
                <li>
                Support an enterprise tool that monitors hard drives and configures
                RAIDs 
            </li>
                <li>
                responsibilities: Linux Multiple Device implementation, developing
                communication API for other fujitsu&nbsp; modules 
                </li>
                <li>
                Stack: C/C++ (C++11), javascript, express, docker, mongodb, HippoMocks, ATAPI protocol, libcurl, boost, SNMP
                </li>
            </ul>


            <h2 class="western" style="margin-left: 0.81in; margin-right: 0.42in; margin-top: 0.42in; margin-bottom: 0.63in">
                Harman
                <span id="Frame1" dir="ltr" style="position: absolute; left: 3.13in; width: 3.74in; height: 0.28in; border: none; padding: 0in; background: url('data:') repeat scroll ">
                <p> Software developer June 2015 - June 2016 </p>
                </span>
            </h2>
            
            <ul>
                <li>
                module for monitoring overall operating system (GenIVI linux
                distribution) status, data collecting for post-morterm analysis for
                automotive head unit 
                </li>
                <li> responsibilities: developing log processing system </li>
                <li> Stack: c++11, docker, apache thrift, systemd/journald API, DBus, yocto </li>
            </ul>



        <h2 class="western" style="margin-left: 0.81in; margin-right: 0.42in; margin-top: 0.42in; margin-bottom: 0.63in">
            GlobalLogic
            <span id="Frame1" dir="ltr" style="position: absolute; left: 3.13in; width: 3.74in; height: 0.28in; border: none; padding: 0in; background: url('data:') repeat scroll ">
            <p> Junior software developer Mar 2014 - Jan 2015 </p>
            </span>
        </h2>

        <ul>
            <li/>
            Developing software for Modular Cable Termination System that
            enables video-on-demand, broadcast, switched digital video based on
            DOCSIS (Data Over Cable Service Interface Specifications) protocol 
            <li/>
            Responsibilities: bugfixing, Integration testing
            <li/>
            Stack: C++, python, Perl 
        </ul>



        <h2 class="western" style="margin-left: 0.81in; margin-right: 0.42in; margin-top: 0.42in; margin-bottom: 0.63in">
            State bureau &quot;Luch&quot; 
            <span id="Frame1" dir="ltr" style="position: absolute; left: 3.13in; width: 3.74in; height: 0.28in; border: none; padding: 0in; background: url('data:') repeat scroll ">
            <p> software engineer Feb 2012 - Feb 2014 </p>
            </span>
        </h2>

        <ul>
            <li/>
            Developing stand for semi-natural simulation for unmanned aircraft
            system 
            <li/>
            Responsibilities: the whole software part. 
            <li/>
            Stack: C/C++, WinRTX, Qt 
        </ul>

        </dd>

        <dd class="clear"></dd>

    <dt> Links </dt> 
    <dd>
        <ul>
            <li> <a href="https://github.com/Andrey-Dubas">GitHub</a> </li>
            <li> <a href="https://www.codewars.com/users/Andrey-Dubas">Codewars</a> </li>
            <li> <a href="https://andrey-dubas.github.io/index.html">Website</a> </li>
        </ul>
    </dd>


        <dd class="clear"></dd>

    <dt> Education </dt>
    <dd>
        <h2 class="western" style="margin-left: 0.81in; margin-right: 0.42in; margin-top: 0.42in; margin-bottom: 0.63in">
            National Technical University of Ukraine &quot;Kiev Polytechnic
            Institute&quot;
        </h2>
        <strong>Major:</strong> System Engineering<br/>
        <strong>Minor:</strong> Software Engineering
    </dd>

        <dd class="clear"></dd>

    <hr>

    <div style="position: fixed;
             left: 0;
             bottom: 0;
             width: 100%;
             text-align: center;">
    </div>


    </dl>
</div>