<div id="header">
    <table>
        <tr>
            <td><img src="/images/header.jpg"> </td>
            <td><h1 id="website-name"> procrastinating <br> dev </h1></td>
        </tr>
    </table>
</div>