<div id="navigation">
    <ul id="navigation-ul">
        <a href="/"> <li> main </li> </a> 
        <a href="/articles"> <li> article list </li> </a>
        <a href="/CV"> <li>  CV </li> </a>
        <% if (typeof role !== 'undefined' && role === 'admin') {%>
            <a href="/createPost"> <li> create new post </li> </a>
            <a href="/logout"> <li> logout </li> </a>
        <% }
        if (typeof role === 'undefined') {%>
            <a href="/login"> <li> login </li> </a>
        <% } %>
    </ul>
</div>