<% layout('templates/base') -%>
<% for (let articleData of articleList) { %>
    <li> 
        <a href='/articles/view/<%= articleData.directoryName %>' > <%= articleData.directoryName %> </a>
        <% if ( username === articleData.owner || role === 'admin') { %>
            / <a href='/articles/edit/<%= articleData.directoryName %>' > edit </a>
        <% } %>
    </li> 
<% } %>