<% layout('templates/base') -%>
<% block('title').append(articleName) %>


<div id="article-container">
    
    <% 
    if (typeof role !== 'undefined' && (role === 'admin' || username === articleOwner)) {
       if (articleDirname) {
    %>
        <div>
        <a href='/articles/edit/<%= articleDirname %>'> edit article </a>
        </div>
    <% }} %>

    <h2 id="article-name"> <%= articleName %> </h2>
    <div>
        <%- include(fullArticlePath + '/index.html') %>
    </div>
</div>